# Ignore generated text files
DataGeneration/userTags/
DataGeneration/userCats/
DataGeneration/mergedTagCatProfile/

# Ignore build output
DataGeneration/build/

# Did not ignore dist/ because includes MySQLConnector /J

# Ignore some NetBeans files
DataGeneration/nbproject/private/
DataGeneration/dist/README.TXT
/ItemBasedCF/nbproject/private/
/ItemBasedCF/dist/README.TXT
/ItemBasedCF/engine.bin