<html>
	<head>
		<title><!--TITLE-->QUT ePrints</title>
		<link rel="stylesheet" href="css/styles.css" type="text/css" />
		<!--HEAD-->
	</head>
	
	<body>
		<div id="header">
			<a href="http://qut.edu.au/">
				<img id="logo" src="/images/logo.gif" />
			</a>
			<img id="byline" src="/images/realworld.gif" />
		</div>
		<div class="navigation">
			<div id="local_nav">
				<a href="http://qut.edu.au/">QUT Home</a>
				<a href="/">ePrints</a>
			</div>
		</div>
		<div id="body">
			<div id="content">
				<!--CONTENT-->
			</div>
		</div>
		<div id="footer"></div>
	</body>
</html>